* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-image: url(/assets/img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #613d14;
    font-weight: 600;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #f7e6ceb2; /* Color de fondo con transparencia */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.3s, background-color 0.3s; /* Transiciones suaves para el desplazamiento y cambio de color */
}

header.scrolled {
    background-color: rgba(238, 220, 194, 0.877); /* Cambio de tono con menos transparencia al hacer scroll */
}

.menu {
    position: fixed;
    top: 100px; /* Asegura que el menú esté debajo del header */
    width: 100%;
    height: 50px;
    background-color: #f7e6ced3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    z-index: 999; /* Asegura que el menú esté por encima del contenido */
    transition: top 0.3s; /* Añade una transición suave solo para el desplazamiento del menú */
}

.menu > div {
    padding: 0 15px; /* Añadir un espacio entre los elementos del menú */
}

.hidden {
    display: none;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 200px; /* Ajusta el margen superior para evitar que el contenido se solape con el encabezado y el menú */
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.target {
    width: 90%;
    max-width: 400px;
    height: 150px;
    background-color: #f7e6cebb;
    margin-bottom: 20px;
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.img {
    width: 120px;
    height: 120px;
    background-color: #eee3d4;
    border-radius: 20px;
    overflow: hidden;
}

.img img {
    width: 100%;
    height: 100%;
}

.info {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info {
    margin-bottom: 20px;
}

.papas {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.papas .pp {
    width: 55px;
    height: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
}

footer {
    width: 100%;
    height: 350px;
    text-align: center;
    font-weight: bold;
    background-color: #f7e6cea2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .img-rpedidos {
    width: 100%;
}

footer .redes-Sociales {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer .redes-Sociales a svg {
    color: #613d14;
    width: 30px;
    height: 30px;
    margin-right: 25px;
}

footer .redes-Sociales a svg:hover{
    color: #eee3d4;
}

.by{
    width: 100%;
    height: 40px;
    background-color: #f7e6cece; /* Color de fondo con transparencia */
    overflow: hidden;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.by .jdiegx{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    header {
        height: 100px;
    }

    .menu {
        height: 50px;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .target {
        width: 85%;
        height: 150px;
    }
}
